<?xml version='1.0' encoding='utf-8'?>
<widget id="com.boxchat.hybrid" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>黑匣聊预览版</name>
    <description>
        A Secure Private Chat Platform Powered by Hybrid App.
    </description>
    <author email="dev@boxchat.org" href="http://boxchat.org">
        Boxchat
    </author>
    <content src="https://boxchat.hypin.cn" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidPersistentFileLocation" value="Internal" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="iosPersistentFileLocation" value="Library" />
    </platform>
</widget>
